/* Global Styles */
body {
  background-color: lightgray !important;
  padding-top: 0;
  margin: 0; /* Add this line to reset the default margin */
}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }


/* Specific Styles */
section {
  margin: 0;
}

form {
  margin-top: 0;
}

/* Navigation Bar Styles */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  padding: 1.3rem;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link {
  color: white;
  padding: 1rem 1.5rem; /* Adjust the padding values to add more spacing */
}

/* Submit Button Styles */
button.btn-primary {
  background-color: lightblue;
  color: black;
  border-color: lightblue;
}

button.btn-primary:hover {
  background-color: #555;
  color: white;
  border-color: #555;
}

/*FontAwesome Styles*/

.icon {
  color: white;
  font-size: 20px;
  margin: 0.5rem; /* Adjust the value as needed */
}

.plane {
  margin: 0.5rem; /* Adds spacing around the <i> element */
  font-size: 20px;
  color:white;
}

.info {
  margin: 0.5rem; /* Adds spacing around the <i> element */
  font-size: 20px;
  color:white;
}



