/* Global Styles */
body {
  background-color: lightgray !important;
  padding-top: 0;
  margin: 0; /* Add this line to reset the default margin */
}

footer {
  padding: 0;
  text-align: left;
}

/* Specific Styles */
section {
  margin: 0;
}

form {
  margin-top: 0;
}

/* Navigation Bar Styles */
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #f1f1f1;
  padding: 20px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
  color: #f8f9fa;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link {
  color: #f8f9fa;
  padding: 1rem 1.5rem; /* Adjust the padding values to add more spacing */
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link:hover {
  color: #f8f9fa;
}

/* Submit Button Styles */
button.btn-primary {
  background-color: lightblue;
  color: black;
  border-color: lightblue;
}

button.btn-primary:hover {
  background-color: #555;
  color: #fff;
  border-color: #555;
}

.icon {
  color: teal;
  font-size: 20px;
  margin: 8px; /* Adjust the value as needed */
}

.plane {
  margin: 8px; /* Adds spacing around the <i> element */
  font-size: 20px;
  color:white;
}

.nav-link {
  padding: 10px; /* Adds spacing within the <a> element */
}